<!DOCTYPE html>
<html>
<head>
    <title>The Design Collection</title>

    <!-- Metatag for viewport for responsive sites -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fontawesome stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link to Gridlex stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <!-- Google Fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,900;1,200;1,300;1,400;1,600&display=swap" rel="stylesheet">

    <!-- Link to pge style sheet -->
    <link rel='stylesheet' href='/style.css'>
</head>

<body>

<!-------------------------------------- Header section with logo and navigation -------------------------------------->
<header class='grid-middle padded-b-0'>

    <div class='col-6_sm-12 center-m'>
        <h2 class='logo'>The Design Collective</h2>
    </div>

    <nav class='col-6_sm-12 right center-sm'>
        <a href='/about.html' >About us</a>
        <a href='/services.html'>Services</a>
        <a href='/portfolio.html' >Portfolio</a>
        <a href='/contact.html'>Contact</a>
    </nav>

</header>

{{content}}

<!-------------------------------------Footer-------------------------------------->
<section class='grid padded padded-b-0 bg-dark light-text' id='contact'>
    <div class='col-6_sm-12'>
        <h2 class='logo'>The Design Collective</h2>
        <h3>Web Design & Development</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod consequuntur itaque aperiam eligendi similique recusandae suscipit ea excepturi ipsa blanditiis, explicabo exercitationem cumque beatae earum labore incidunt culpa porro voluptate.</p>
    </div>

    <div class='col-6_sm-12-bottom right'>
        <h3>Let's Connect</h3>
        <nav>
            <a href='#'><i class="fab fa-pinterest-p"></i></a>
            <a href='#'><i class="fab fa-instagram"></i></a>
            <a href='#'><i class="fab fa-facebook-f"></i></a>
            <a href='#'><i class="fab fa-twitter"></i></a>
        </nav>
    </div>

    <div class='col-12 center padded-t'>
        <p class='subtle'>Copyright 2021</p>
    </div>

</section>



</body>
</html>